<template>
  <q-page>
    <div class="row justify-between  q-ma-xl">
      <!-- Drawings  -->
      <div class="col-md-12 q-mr-sm q-mb-sm col-xs-12 col-lg-6">
        <q-card class="q-pa-xs" >
          <q-img src="images/ge.jpg" />
        </q-card>
      </div>
      <!-- Drawings  -->
      <!-- Chart  -->
      <div class="col-md-12 col-lg-5 col-xs-12">
        <q-card class="q-pa-sm q-mb-sm" >
          <div id="chart" />
        </q-card>
      </div>
      <!-- Chart  -->
      <div class="col-12 q-mt-md">
        <div class="text-h6 text-uppercase text-weight-bold">TSF 1</div>
        <div class="row">
          <div
            class="col-md-4 col-xs-12"
            v-for="(tal, t) in talemetries"
            :key="t"
          >
            <q-card class="bg-cyan-5 q-ma-xs text-white">
              <q-card-section>
                <div class="text-h6 text-center">{{ tal.name }}</div>
                <div class="text-subtitle2">Updated: {{ tal.update }}</div>
                <div class="text-subtitle2">
                  Status: <span class="text-green-12">{{ tal.status }}</span>
                </div>
              </q-card-section>

              <q-card-section>
                <q-markup-table class="bg-cyan-8 text-white" flat>
                  <thead>
                    <tr>
                      <th
                        v-for="(col, i) in tal.cols"
                        :key="i"
                        :class="
                          'text-left ' +
                          'bg-' +
                          col.bg +
                          ' text-' +
                          col.textColor
                        "
                      >
                        <span class="text-weight-medium text-subtitle1">
                          {{ col.name }}
                        </span>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(row, i) in tal.rows" :key="i">
                      <td
                        v-for="(item, a) in row.rowItems"
                        :key="a"
                        :class="
                          'text-left ' +
                          'bg-' +
                          item.bg +
                          ' text-' +
                          row.textColor
                        "
                      >
                        <span class="text-weight-regular text-subtitle1">
                          {{ item.text }}
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </q-markup-table>
              </q-card-section>

              <q-separator dark />

              <q-card-actions>
                <q-btn @click="$router.push('dashboard');" class="full-width" flat>View</q-btn>
              </q-card-actions>
            </q-card>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>
<script>
import ApexCharts from "apexcharts";
export default {
  data() {
    return {
      talemetries: [
        {
          name: "VW 1",
          update: "1 min ago",
          status: "Active",
          cols: [
            {
              name: "Tag",
              bg: "",
              textColor: "",
            },
            {
              name: "Value",
              bg: "",
              textColor: "",
            },
          ],
          rows: [
            //adds a nother row
            {
              rowItems: [
                //adds items to a single to
                {
                  text: "Pore Pressure",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "15.8 kpa",
                  bg: "",
                  textColor: "",
                },
              ],
            },
            {
              rowItems: [
                //adds items to a single to
                {
                  text: "Temp",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "25.01 °C",
                  bg: "",
                  textColor: "",
                },
              ],
            },
          ],
        },
        {
          name: "VW 2",
          update: "1 min ago",
          status: "Active",
          cols: [
            {
              name: "Tag",
              bg: "",
              textColor: "",
            },
            {
              name: "Value",
              bg: "",
              textColor: "",
            },
          ],
          rows: [
            //adds a nother row
            {
              rowItems: [
                //adds items to a single to
                {
                  text: "Pore Pressure",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "15.8 kpa",
                  bg: "",
                  textColor: "",
                },
              ],
            },
            {
              rowItems: [
                //adds items to a single to
                {
                  text: "Temp",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "25.01 °C",
                  bg: "",
                  textColor: "",
                },
              ],
            },
          ],
        },
        {
          name: "VW3",
          update: "1 min ago",
          status: "Active",
          cols: [
            {
              name: "Tag",
              bg: "",
              textColor: "",
            },
            {
              name: "Value",
              bg: "",
              textColor: "",
            },
          ],
          rows: [
            //adds a nother row
            {
              rowItems: [
                //adds items to a single to
                {
                  text: "Pore Pressure",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "15.8 kpa",
                  bg: "",
                  textColor: "",
                },
              ],
            },
            {
              rowItems: [
                //adds items to a single to
                {
                  text: "Temp",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "25.01 °C",
                  bg: "",
                  textColor: "",
                },
              ],
            },
          ],
        },
      ],
    };
  },
  mounted() {
    var options = {
      series: [
        {
          name: "VW 1",
          data: [31, 40, 28, 51, 42, 109, 100],
        },
        {
          name: "VW 2",
          data: [11, 32, 45, 32, 34, 52, 41],
        },
        {
          name: "VW 3",
          data: [0, 23, 25, 90, 10, 11, 0],
        },
      ],
      chart: {
        height: '500vw',
        type: "area",
      },
      dataLabels: {
        enabled: false,
      },
      stroke: {
        curve: "smooth",
      },
      xaxis: {
        type: "datetime",
        categories: [
          "2018-09-19T00:00:00.000Z",
          "2018-09-19T01:30:00.000Z",
          "2018-09-19T02:30:00.000Z",
          "2018-09-19T03:30:00.000Z",
          "2018-09-19T04:30:00.000Z",
          "2018-09-19T05:30:00.000Z",
          "2018-09-19T06:30:00.000Z",
        ],
      },
      tooltip: {
        x: {
          format: "dd/MM/yy HH:mm",
        },
      },
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();
  },
};
</script>
