<template>
  <div class="q-pa-md">
    <div v-for="(tal, t) in talemetries" :key="t">
      <q-card class="bg-cyan-5 q-ma-xs text-white">
        <q-card-section>
          <div class="text-h6 text-center">{{ tal.name }}</div>
        </q-card-section>

        <q-card-section>
          <q-markup-table class="bg-cyan-8 text-white" flat>
            <thead>
              <tr>
                <th
                  v-for="(col, i) in tal.cols"
                  :key="i"
                  :class="
                    'text-left ' + 'bg-' + col.bg + ' text-' + col.textColor
                  "
                >
                  <span class="text-weight-medium text-subtitle1">
                    {{ col.name }}
                  </span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(row, i) in tal.rows" :key="i">
                <td
                  v-for="(item, a) in row.rowItems"
                  :key="a"
                  :class="
                    'text-left ' + 'bg-' + item.bg + ' text-' + row.textColor
                  "
                >
                  <span class="text-weight-regular text-subtitle1">
                    {{ item.text }}
                  </span>
                </td>
              </tr>
            </tbody>
          </q-markup-table>
        </q-card-section>

        <q-separator dark />

        <q-card-actions>
          <q-btn class="full-width" flat>Download CVS</q-btn>
        </q-card-actions>
      </q-card>
    </div>
  </div>
</template>
    

<script>
 
for (let i = 0; i < 10; i++) {}
import rawData from "raw-loader!../assets/data/YDOC__25816260_220117_120028.txt";

export default {
  data() {
    return {
      talemetries: [
        {
          name: "History",
          cols: [
            {
              name: "Date",
              bg: "",
              textColor: "",
            },
            {
              name: "Run Time Hours",
              bg: "",
              textColor: "",
            },
            {
              name: "Run Time Days",
              bg: "",
              textColor: "",
            },
            {
              name: "Volume H ( m³ )",
              bg: "",
              textColor: "",
            },
            {
              name: "Pore Pressure ( kpa )",
              bg: "",
              textColor: "",
            },
            {
              name: "Temperature °C",
              bg: "",
              textColor: "",
            },
          ],
          rows: [
            //adds a nother row
            {
              rowItems: [
                //adds items to a single to
                {
                  text: "26 Oct 2021 18:00:00",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "1",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "2",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "5",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "20",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "25.1",
                  bg: "",
                  textColor: "",
                },
              ],
            },
            {
              rowItems: [
                //adds items to a single to
                {
                  text: "26 Oct 2021 18:00:00",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "1",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "2",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "5",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "20",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "25.1",
                  bg: "",
                  textColor: "",
                },
              ],
            },
            {
              rowItems: [
                //adds items to a single to
                {
                  text: "26 Oct 2021 18:00:00",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "1",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "2",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "5",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "20",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "25.1",
                  bg: "",
                  textColor: "",
                },
              ],
            },
            {
              rowItems: [
                //adds items to a single to
                {
                  text: "26 Oct 2021 18:00:00",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "1",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "2",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "5",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "20",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "25.1",
                  bg: "",
                  textColor: "",
                },
              ],
            },
            {
              rowItems: [
                //adds items to a single to
                {
                  text: "26 Oct 2021 18:00:00",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "1",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "2",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "5",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "20",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "25.1",
                  bg: "",
                  textColor: "",
                },
              ],
            },
            {
              rowItems: [
                //adds items to a single to
                {
                  text: "26 Oct 2021 18:00:00",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "1",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "2",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "5",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "20",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "25.1",
                  bg: "",
                  textColor: "",
                },
              ],
            },
            {
              rowItems: [
                //adds items to a single to
                {
                  text: "26 Oct 2021 18:00:00",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "1",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "2",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "5",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "20",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "25.1",
                  bg: "",
                  textColor: "",
                },
              ],
            },
            {
              rowItems: [
                //adds items to a single to
                {
                  text: "26 Oct 2021 18:00:00",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "1",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "2",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "5",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "20",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "25.1",
                  bg: "",
                  textColor: "",
                },
              ],
            },
            {
              rowItems: [
                //adds items to a single to
                {
                  text: "26 Oct 2021 18:00:00",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "1",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "2",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "5",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "20",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "25.1",
                  bg: "",
                  textColor: "",
                },
              ],
            },
            {
              rowItems: [
                //adds items to a single to
                {
                  text: "26 Oct 2021 18:00:00",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "1",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "2",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "5",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "20",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "25.1",
                  bg: "",
                  textColor: "",
                },
              ],
            },
            {
              rowItems: [
                //adds items to a single to
                {
                  text: "26 Oct 2021 18:00:00",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "1",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "2",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "5",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "20",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "25.1",
                  bg: "",
                  textColor: "",
                },
              ],
            },
            {
              rowItems: [
                //adds items to a single to
                {
                  text: "26 Oct 2021 18:00:00",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "1",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "2",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "5",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "20",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "25.1",
                  bg: "",
                  textColor: "",
                },
              ],
            },
            {
              rowItems: [
                //adds items to a single to
                {
                  text: "26 Oct 2021 18:00:00",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "1",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "2",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "5",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "20",
                  bg: "",
                  textColor: "",
                },
                {
                  text: "25.1",
                  bg: "",
                  textColor: "",
                },
              ],
            },
          ],
        },
      ],
    };
  },
  methods: {
    formatDate() {
      //#region Date
      let dateArrayFormatted = [];
      let format = rawData
        .substring(rawData.indexOf("D;") + 2)
        .replace(/D./g, "")
        .replace(/AIN./g, "");
      let date = format.replace(/;...../g, ";").replace(/\n|\r/g, "");
      var dateArray = date.split(";");
      dateArray.pop();

      for (let i = 0; i < dateArray.length; i++) {
        let tempData;
        let year = dateArray[i].substr(0, 2);
        let month = dateArray[i].substr(2, 2);
        let day = dateArray[i].substr(4, 2);
        let hour = dateArray[i].substr(6, 2);
        let minute = dateArray[i].substr(8, 2);
        tempData = day + "-" + month + "-20" + year + " " + hour + ":" + minute;
        dateArrayFormatted.push(tempData);
      }
      let ain = format.replace(/............;/g, ";").replace(/\n|\r/g, "");
      //#endregion

      //#region AIN
      var ainFormat = ain.split(";");
      ainFormat.shift();
      var result = Object.assign.apply(
        {},
        dateArrayFormatted.map((v, i) => ({ [v]: parseFloat(ainFormat[i]) }))
      );
      //#endregion

      console.log("Input:\n" + dateArray);
      console.log(result);
    },
    formatFormatStatuse() {
      console.log("WIP");
    },
  },
  mounted() {
    if (!rawData.includes("CFG_")) {
      this.formatDate();
    } else {
      this.formatFormatStatuse();
    }
  },
};
</script>