<template>
  <q-page>
    <q-card class="absolute-center" style="max-width: 400px; min-width: 400px">
      <q-card-section>
        <div class="row justify-center">
          <div class="col-12 col-md-auto">
            <q-avatar size="100px">
              <img src="images/login.png" />
            </q-avatar>
          </div>
        </div>
      </q-card-section>
      <q-card-section>
        <div class="q-pa-md">
          <q-form class="q-gutter-md">
            <q-input
              filled
              v-model="formData.email"
              label="Your email *"
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
            />
            <q-input
              filled
              v-model="formData.password"
              label="Your Password *"
              type="password"
              lazy-rules
              :rules="[
                (val) => (val && val.length > 0) || 'Please type something',
              ]"
            />
            <div>
              <q-btn
                @click="onSubmit"
                label="Submit"
                class="full-width"
                type="submit"
                color="primary"
              />
            </div>
          </q-form>
        </div>
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
import { ref } from "vue";
import axios from "axios";

export default {
  data() {
    return {
      formData: {
        email: "z@z.com",
        password: "password",
      },
    };
  },
  methods: {
    onSubmit() {
      axios
        .post("http://127.0.0.1:8000/login", this.formData)
        .then((response) => {
          if ((response.data = "success")) {
            this.$router.push("/dashboard");
          }
        });
    },
    logout() {
      axios
        .post("http://127.0.0.1:8000/api/logout", this.formData)
        .then((response) => {
          console.log(response);
        });
    },
    me() {
      axios
        .get("http://127.0.0.1:8000/api/user")
        .then((r) => {
          console.log(r);
        })
        .catch(function (error) {
          console.log("Failed");
        });
    },
  },
  mounted() {
    axios.get("http://127.0.0.1:8000/sanctum/csrf-cookie");
  },
};
</script>

