<template>
  <q-page>
    <div>
      <site-comp
        v-for="(site, s) in sites"
        :key="s"
        :siteTitle="site.name"
        :siteData="site.talemetries"
      ></site-comp>
    </div>
  </q-page>
</template>

<script>
import SiteComp from "src/components/SiteComp.vue";
export default {
  components: { SiteComp },
  data() {
    return {
      sites: [
        {
          name: "TSF 1",
          talemetries: [
            {
              name: "VW 1",
              update: "1 min ago",
              status: "Active",
              cols: [
                {
                  name: "Tag",
                  bg: "",
                  textColor: "",
                },
                {
                  name: "Value",
                  bg: "",
                  textColor: "",
                },
              ],
              rows: [
                //adds a nother row
                {
                  rowItems: [
                    //adds items to a single to
                    {
                      text: "Pore Pressure",
                      bg: "",
                      textColor: "",
                    },
                    {
                      text: "15.8 kpa",
                      bg: "",
                      textColor: "",
                    },
                  ],
                },
                {
                  rowItems: [
                    //adds items to a single to
                    {
                      text: "Temp",
                      bg: "",
                      textColor: "",
                    },
                    {
                      text: "25.01 °C",
                      bg: "",
                      textColor: "",
                    },
                  ],
                },
              ],
            },
            {
              name: "VW 2",
              update: "1 min ago",
              status: "Active",
              cols: [
                {
                  name: "Tag",
                  bg: "",
                  textColor: "",
                },
                {
                  name: "Value",
                  bg: "",
                  textColor: "",
                },
              ],
              rows: [
                //adds a nother row
                {
                  rowItems: [
                    //adds items to a single to
                    {
                      text: "Pore Pressure",
                      bg: "",
                      textColor: "",
                    },
                    {
                      text: "15.8 kpa",
                      bg: "",
                      textColor: "",
                    },
                  ],
                },
                {
                  rowItems: [
                    //adds items to a single to
                    {
                      text: "Temp",
                      bg: "",
                      textColor: "",
                    },
                    {
                      text: "25.01 °C",
                      bg: "",
                      textColor: "",
                    },
                  ],
                },
              ],
            },
            {
              name: "VW3",
              update: "1 min ago",
              status: "Active",
              cols: [
                {
                  name: "Tag",
                  bg: "",
                  textColor: "",
                },
                {
                  name: "Value",
                  bg: "",
                  textColor: "",
                },
              ],
              rows: [
                //adds a nother row
                {
                  rowItems: [
                    //adds items to a single to
                    {
                      text: "Pore Pressure",
                      bg: "",
                      textColor: "",
                    },
                    {
                      text: "15.8 kpa",
                      bg: "",
                      textColor: "",
                    },
                  ],
                },
                {
                  rowItems: [
                    //adds items to a single to
                    {
                      text: "Temp",
                      bg: "",
                      textColor: "",
                    },
                    {
                      text: "25.01 °C",
                      bg: "",
                      textColor: "",
                    },
                  ],
                },
              ],
            },
          ],
        },
      ],
    };
  },
};
</script>