<template>
  <div class="col-12 q-mt-md">
    <div class="text-h6 text-uppercase text-weight-bold">{{ siteTitle }}</div>
    <div class="row">
      <div class="col-md-4 col-xs-12" v-for="(tal, t) in talemetries" :key="t">
        <q-card class="bg-cyan-5 q-ma-xs text-white">
          <q-card-section>
            <div class="text-h6 text-center">{{ tal.name }}</div>
            <div class="text-subtitle2">Updated: {{ tal.update }}</div>
            <div class="text-subtitle2">
              Status: <span class="text-green-12">{{ tal.status }}</span>
            </div>
          </q-card-section>

          <q-card-section>
            <q-markup-table class="bg-cyan-8 text-white" flat>
              <thead>
                <tr>
                  <th
                    v-for="(col, i) in tal.cols"
                    :key="i"
                    :class="
                      'text-left ' + 'bg-' + col.bg + ' text-' + col.textColor
                    "
                  >
                    <span class="text-weight-medium text-subtitle1">
                      {{ col.name }}
                    </span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(row, i) in tal.rows" :key="i">
                  <td
                    v-for="(item, a) in row.rowItems"
                    :key="a"
                    :class="
                      'text-left ' + 'bg-' + item.bg + ' text-' + row.textColor
                    "
                  >
                    <span class="text-weight-regular text-subtitle1">
                      {{ item.text }}
                    </span>
                  </td>
                </tr>
              </tbody>
            </q-markup-table>
          </q-card-section>

          <q-separator dark />

          <q-card-actions>
            <q-btn @click="$router.push('dashboard')" class="full-width" flat
              >View</q-btn
            >
          </q-card-actions>
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["siteTitle", "siteData"],
  data() {
    return {
      talemetries: [],
    };
  },
  mounted() {
    for (let i = 0; i < this.siteData.length; i++) {
      this.talemetries.push(this.siteData[i]);
    }
  },
};
</script>